{% extends 'base.html' %}
{% block body %}
 <!-- ======= Appointment Section ======= -->
 <section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Login </h2>
        <p>Enter your credentials to login to your account. In case you haven't registered yet, click <a href = "/auth/accounts/signup"> here </a> to go to the patient registration page and register yourself there. Come back soon, we're waiting</p>
      </div>

      <form action="/auth/login/" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-6 form-group">
            <input type="text" name="username" class="form-control" id="name" placeholder="Username" required>
          </div>
          <div class="col-md-6 form-group mt-3 mt-md-0">
            <input type="password" class="form-control" name="password" id="email" placeholder="Your Password" required>
          </div>
          
        <div class="text-center"><button type="submit">Login</button></div>
      </form>

    </div>
  </section><!-- End Appointment Section -->
{% endblock body %}
