<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Patient's Dashboard</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="/static/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="/static/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/static/css/Navbar-Centered-Links-icons.css">
</head>

<body id="page-top">
    <div id="wrapper">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand-md py-3" style="font-family: Montserrat, sans-serif;background: #fff;">
                    <div class="container"><a class="navbar-brand d-flex align-items-center" href="/"><span style="width: 200px;"><img class="img-fluid" src="/static/img/logo4.svg"></span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-3"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-3">
                            <ul class="navbar-nav mx-auto">
                            </ul><a href = "/auth/logout" class="btn btn-primary" type="button" style="background: #007f96;">Logout</a>
                        </div>
                    </div>
                </nav>
                <div class="container-fluid" id="patient-info">
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold" style="font-family: Montserrat, sans-serif;">{{request.user}}</p>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6 text-nowrap">
                                    <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                                                <option value="10" selected="">10</option>
                                                <option value="25">25</option>
                                                <option value="50">50</option>
                                                <option value="100">100</option>
                                            </select>&nbsp;</label></div>
                                </div>
                                <div class="col-md-6">
                                    <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
                                </div>
                            </div>
                            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                                <table class="table my-0" id="dataTable">
                                    <thead>
                                        <tr>
                                            <th style="font-family: Montserrat, sans-serif;">Name</th>
                                            <th style="font-family: Montserrat, sans-serif;">Date Of Appointment</th>
                                            <th style="font-family: Montserrat, sans-serif;">Status</th>
                                            <th style="font-family: Montserrat, sans-serif;">Meet Link</th>
                                            <th class="text-center" style="font-family: Montserrat, sans-serif;font-size: 15px;">Completion status</th>
                                            <th class="text-center" style="font-family: Montserrat, sans-serif;">Reschedule Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                          {% for x in appointment %}
                                        <tr>
                                            <td><img class="rounded-circle me-2" width="30" height="30" src="/static/img/avatars/avatar1.jpeg">{{x.doctor}}</td>
                                            <td>{{x.date}}</td>
                                            <td>{% if x.approved %}<button class="btn btn-success btn-sm disabled" type="button" style="margin-left: 19px;" disabled="">Approved</button>{% else %}<button class="btn btn-danger btn-sm disabled" type="button" style="margin-left: 19px;" disabled="">Not Approved</button>{% endif %}</td>
                                            <td>{% if x.approved %}<a href ="https://{{x.meet_link}}">Join{% else %}<button class="btn btn-danger btn-sm disabled" type="button" style="margin-left: 19px;" disabled="">Not Approved</button>{% endif %}</td>
                                            <td class="text-center" style="text-align: center;">
                                                {% if x.is_conducted %}
                                                <i class="icon ion-android-done-all" style="color: var(--bs-red);font-family: Montserrat, sans-serif;font-size: 20px;text-align: center;"></i>
                                                {% else %}
                                                <i class="icon ion-android-cancel" style="color: var(--bs-red);font-family: Montserrat, sans-serif;font-size: 20px;text-align: center;"></i>
                                                {% endif %}
                                            </td>
                                            <td style="text-align: center;">
                                                {% if x.is_rescheduled %}
                                                <i class="icon ion-android-done-all" style="color: var(--bs-red);font-family: Montserrat, sans-serif;font-size: 20px;text-align: center;"></i>
                                                {% else %}
                                                <i class="icon ion-android-cancel" style="color: var(--bs-red);font-family: Montserrat, sans-serif;font-size: 20px;text-align: center;"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-6 align-self-center">
                                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27</p>
                                </div>
                                <div class="col-md-6">
                                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                                        <ul class="pagination">
                                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Your Friend 2023</span></div>
                </div>
            </footer>
        </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    </div>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/theme.js"></script>
</body>

</html>