{% extends 'base.html' %}

{% block body %}
 <!-- ======= Appointment Section ======= -->
 <section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Patient Profile</h2>
        <p>Create your profile, so that our doctors and psychologists can understand you better and come up with the best solutions for you.</p>
      </div>

      <form action="/auth/patientprofile/" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="integer" class="form-control" name="age" id="email" placeholder="Age" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="text" class="form-control" name="gender" id="phone" placeholder="Gender" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <select class="form-select" name="maritalstatus" id="phone" required>
              <option selected>Marital Status</option>
              <option value = "Single"> Single</option>
              <option value = "Married"> Married </option>
              <option value = "Divorced"> Divorced </option>
              <option value = "Widow"> Widow </option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <select id="country" class="form-select">
              <option>Select country</option>
          </select>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <select id="state" class="form-select">
              <option>_</option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <select class="form-select" name="employmentstatus" id="empstatus" required>
              <option selected>Employment Status</option>
              <option value = "Employed"> Employed</option>
              <option value = "Self-Employed"> Self-Employed </option>
              <option value = "Unemployed"> Unemployed </option>
              <option value = "Student"> Student </option>
              <option value = "Retired"> Retired </option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <select class="form-select" name="jobtype" id="phone" required>
              <option selected>Job Type</option>
              <option value = "Remote"> Remote</option>
              <option value = "Hybrid"> Hybrid</option>
              <option value = "Onsite"> Onsite </option>
              <option value = "NA"> NA </option>
            </select>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <select class="form-select" name="employmenttype" id="emptype" placeholder="Marital Status" required>
              <option selected>Employment Type</option>
              <option value = "Full Time">Full Time</option>
              <option value = "Part Time"> Part Time</option>
              <option value = "Unemployed"> Freelance </option>
              <option value = "NA"> NA </option>
            </select>
          </div>
        </div>
        <div class="form-group mt-3">
            <textarea class="form-control" name="history" rows="5" placeholder="History"></textarea>
          </div>
        <div class="text-center"><button type="submit">Save</button></div>
      </form>

    </div>
  </section><!-- End Appointment Section -->
<script src="/static/js/country-states.js"></script>
<script>
  // user country code for selected option
  var user_country_code = "IN";
  
  (() => {
  
      // Get the country name and state name from the imported script.
      const country_array = country_and_states.country;
      const states_array = country_and_states.states;
  
      const id_state_option = document.getElementById("state");
      const id_country_option = document.getElementById("country");
  
      const createCountryNamesDropdown = () => {
          let option =  '';
          option += '<option value="">Select Country</option>';
  
          for(let country_code in country_array){
              // set selected option user country
              let selected = (country_code == user_country_code) ? ' selected' : '';
              option += '<option value="'+country_code+'"'+selected+'>'+country_array[country_code]+'</option>';
          }
          id_country_option.innerHTML = option;
      };
  
      const createStatesNamesDropdown = () => {
          let selected_country_code = id_country_option.value;
          // get state names
          let state_names = states_array[selected_country_code];
  
          // if invalid country code
          if(!state_names){
              id_state_option.innerHTML = '<option>Select State</option>';
              return;
          }
          let option = '';
          option += '<select id="state">';
          option += '<option>Select state</option>';
          for (let i = 0; i < state_names.length; i++) {
              option += '<option value="'+state_names[i].code+'">'+state_names[i].name+'</option>';
          }
          option += '</select>';
          id_state_option.innerHTML = option;
      };
  
      // country select change event
      id_country_option.addEventListener('change', createStatesNamesDropdown);
  
      createCountryNamesDropdown();
      createStatesNamesDropdown();
  })();
  
  </script>
{% endblock body %}
