{% extends 'base.html' %}

{% block body %}
 <!-- ======= Appointment Section ======= -->
 <section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Patient Profile</h2>
        <p>Create your profile, so that our doctors and psychologists can understand you better and come up with the best solutions for you.</p>
      </div>

      <form action="/auth/patientprofile/" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="integer" class="form-control" name="age" id="email" placeholder="Age" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="text" class="form-control" name="gender" id="phone" placeholder="Gender" required>
          </div>
        </div>
        <div class="form-group mt-3">
            <textarea class="form-control" name="history" rows="5" placeholder="History"></textarea>
          </div>
        <div class="text-center"><button type="submit">Save</button></div>
      </form>

    </div>
  </section><!-- End Appointment Section -->
{% endblock body %}
