{% extends 'base.html' %}
{% load static %}


{% block body %}
<!-- ======= Departments Section ======= -->
<section id="departments" class="departments">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Self Care Techniques</h2>
        <p>Please wait till your appointment is approved bu a consultant. Till then, here are some techniques that can help you in coping up with mental health issues. Don't worry, we're here to assist you. In case of an emergency, we request you to call the doctor.
        </p>
      </div>
      <div class="row g-2">
        {% for i in techniques %}
        <div class="col mb-2">
          <video class="w-100 h-100 rounded-3" type="video/mp4" controls autoplay muted>
            <source src="/media/{{i.file}}" type="video/mp4">Link </source>
          </video>
        </div>
        {% endfor %}
      </div>
  </section><!-- End Departments Section -->
  {% endblock %}