{% extends 'base.html' %}
{% block body %}
 <!-- ======= Appointment Section ======= -->
 <section id="appointment" class="appointment section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Register</h2>
        <p>Hey, Friend. Your Friend welcomes you. Create your account here and follow by creating your Profile ahead to access the exciting features of our platform. In case you have an account, click <a href = "/auth/login">here</a> to go to the login page.</p>
      </div>

      <form action="/auth/accounts/signup/" method="POST" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
        {% csrf_token %}
        <div class="row">
          <div class="col-md-4 form-group">
            <input type="text" name="username" class="form-control" id="name" placeholder="Username" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="password" class="form-control" name="password" id="email" placeholder="Your Password" required>
          </div>
          <div class="col-md-4 form-group mt-3 mt-md-0">
            <input type="password" class="form-control" name="cpassword" id="phone" placeholder="Confirm Password" required>
          </div>
        </div>
        <div class="text-center"><button type="submit">Register</button></div>
      </form>

    </div>
  </section><!-- End Appointment Section -->
{% endblock body %}
