{% extends 'base.html' %}
{% load static %}



{% block body %}
<!-- ======= Pricing Section ======= -->
<section id="pricing" class="pricing">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Pricing</h2>
    </div>
    <div class="row">
        {% for i in subscription %}
      <div class="col-lg-3 col-md-6">
        <div class="box" data-aos="fade-up" data-aos-delay="100">
          <h3>{{i.name}}</h3>
        <h4><sup>$</sup>{{i.amount}}<span> / month</span></h4>
          <ul>
            <li>Unlimited Tests</li>
            <li>5 consultation sessions</li>
            <li>Community Access</li>
            <li class="na">Dummy Option</li>
            <li class="na">Dummy Option</li>
          </ul>
          <div class="btn-wrap">
            <a href="/auth/selectsubscription/{{i.pk}}" class="btn-buy">Buy Now</a>
          </div>
        </div>
    </div>
    {% endfor %}
    </div>
  </div>
</section><!-- End Pricing Section -->
{% endblock %}